<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <%- include('./partials/header'); %>

    <form action="/crearOrden" id="form_login" method="POST">
        <div>
            <h1>Pedidos</h1>
        </div>
 
        <div class="inputsContainer">
            <div>
                <label for="name">Nombre: </label>
                <p id="userName"></p>
            </div>

            <div>
                <label for="amount">Cantidad: </label>
                <input type="number" name="amount" id="amount" autocomplete="off" required>
            </div>
            <div>
                <label for="address">Direccion: </label>
                <input type="text" name="address" id="address" autocomplete="off" required>
            </div>
            <div>
                <button id="btnLogin">Pedir</button>
            </div>
        </div>

    </form>
</body>
</html>
<script> 
    async function leerNombre() {
        const response = await fetch(`/getUserName`);
        const registros = await response.json()
        registros.map( registro => 
            document.getElementById("userName").innerText = registro.name
        )
    }
   leerNombre()
</script>