<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <%- include('./partials/header'); %>

    <main>
        <section class="head">
            <h1 id="userName">Customer Name : </h1>
        </section>

        <table id="lista-registros">
            <tr>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Direccion</th>
            </tr>

            <!-- <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr> -->
        </table>
    </main>
</body>
</html>
<script>
    async function leerNombre() {
        const response = await fetch(`/getUserName`);
        const registros = await response.json()
        registros.map( registro => 
            document.getElementById("userName").innerText += " " + registro.name
        )
    }
    async function cargarRegistros() {
      const response = await fetch('/orders');
      const registros = await response.json();
      const lista = document.getElementById('lista-registros');
      // console.log(registros)
      lista.innerHTML += registros.map(registro => `
        <tr>
            <td> ${new Date(registro.order_date).toLocaleString("es-mx")} </td>
            <td> ${registro.quantity} </td>
            <td> ${registro.address} </td>
        </tr>
      `).join('');
    }
    cargarRegistros()
    leerNombre()
</script>