<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configuración de Cuenta</title>
  <!-- Vinculamos el archivo CSS externo -->
  <link rel="stylesheet" href="css.css">
</head>
<body>

  <div class="container">
    <h1>Mi Cuenta</h1>
    <a class="logout-btn" href="/logout">Cerrar Sesión</a>
    <a class="delete-btn" href="/deleteAccount" >Eliminar Cuenta</a>
  </div>

</body>
</html>