:root {
    --background_body: #87cfeb95;
    --glass: #00a2ff2e;
    --white: #fff;
    --blue: #00a2ff;
    --black: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
    color: var(--black);
}

body {
    background-color: var(--background_body);
}

header {
    width: 100%;
    height: auto;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 100px;
    justify-content: space-around;
}

header img {
    width: 200px;
    object-fit: cover;
}

#form_login {
    width: 500px;
    height: auto;
    background-color: var(--glass);
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#form_login div h1 {
    border-bottom: 1px solid #333;
    text-align: center;
    margin: 20px 0;
}

#form_login .inputsContainer {
    width: 80%;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.inputsContainer div {
    width: 100%;
    height: auto;
    position: relative;
}

.inputsContainer div input {
    width: 60%;
    height: auto;
    padding: 3px 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    position: absolute;
    right: 10%;
}

.inputsContainer div #btnLogin {
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}


.inputsContainer div #btnLogin:hover {
    height: 30px;
    background-color: var(--blue);
}

#linksLogin {
    width: 100%;
    height: auto;
    text-align: center;
}



/* ------------------------------------- Temporal */

.listViews {
    list-style: none;
    display: flex;
}

.listViews li {
    margin: 0px 5px;
    padding: 5px;
    border: 2px solid transparent;
    transition: border .2s;
}

.listViews li:hover {
    background-color: var(--glass);
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
    border-radius: 5px;
}

.back {
    padding: 10px;
    background-color: red;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
}



/* ------------------------------------- Tables */

main {
    width: 800px;
    height: auto;
    margin: 100px auto;
    background-color: var(--glass);
    padding: 20px 0;
}

main .head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

main table {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #00a2ff;
}

main table tr td {
    background-color: var(--glass);
    text-align: center;
    margin-bottom: 5px;
}

/* form order */

#maps {
    width: 50px;
    height: 50px;
    background-color: #e2d8cc;
}