<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <a class="back" href="./index.html">back</a>

    <main>
        <section class="head">
            <h1>Customer Name: </h1>
            <h2>id: </h2>
        </section>

        <table>
            <tr>
                <th>Date</th>
                <th>AMOUNT</th>
                <th>STATUS</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
        </table>
    </main>
</body>
</html>